@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Helvetica Neue";
    src: url('../public/fonts/helvetica-neu.ttf').format('ttf');
}  
  
@font-face {
    font-family: "La Belle Aurore";
    src: url('../public/fonts/LaBelleAurore.woff2').format('woff2');
}

@font-face {
    font-family: "Coolvetica";
    src: url('../public/fonts/CoolveticaRg-Regular.woff2').format('woff2');
}

@font-face {
    font-family: "Gotham Book";
    src: url('../public/fonts/gotham-book.woff2').format('woff2');
}

body {
    font-family: 'Coolvetica';
    font-weight: 700;
    overflow-x: hidden
}

.Welcome-text {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), linear-gradient(90.01deg, #e59cff 0.01%, #ba9cff 50.01%, #9cb2ff 100%);
    background-blend-mode: normal, screen;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;   
} 
 
.primary-button {
    background: #68e2fa;
    font-weight: 600;     
    animation: fadeIn 1s 1,8s backwards;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 8px), calc(100% - 8px) 100%, 0 100%);
    box-shadow: 0 8px 2px -2px rgb(255, 255, 255);   
}

@layer components {
    .sidebar-icon {
        @apply relative flex items-center justify-center 
               h-16 w-16 mt-2 mb-2 mx-auto 
               bg-gray-800 text-primary
               hover:bg-primary hover:text-gray-800
               rounded-3xl hover:rounded-xl
               transition-all duration-300 ease-linear
               cursor-pointer
    }

    .sidebar-tooltip {
        @apply absolute w-auto p-2 m-4 min-w-max left-14
               rounded-md shadow-md
               text-white bg-gray-800
               text-xs font-bold
               transition-all duration-100 scale-0 origin-left  
    }
}