@tailwind base;
@tailwind components;
@tailwind utilities;

.Welcome-text {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), linear-gradient(90.01deg, #e59cff 0.01%, #ba9cff 50.01%, #9cb2ff 100%);
    background-blend-mode: normal, screen;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;      
} 
 
.primary-button {
    background: #68e2fa;
    font-weight: 600; 
    border: 1px solid #68e2fa;
    animation: fadeIn 1s 1,8s backwards;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 8px), calc(100% - 8px) 100%, 0 100%);   
}

.primary-button:hover {
    transform: scale(1.1);
    transition-duration: 0.3s;    
}